/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box; 
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #292929;
	--color-background: white;
	--color-mcdonalds: #ffbc0d;
	--color-border: #cecece;
	--color-border2: #6f6f6f;
}

@media(prefers-color-scheme: dark) {
	:root{
		--color-text: white;
		--color-background: #292929;
		--color-border: #6f6f6f;
		--color-border2: #cecece;
		--color-mcdonalds: #af800b;
	}
}

/****************/
/* JOUW STYLING */
/****************/

body{
	font-family:  sans-serif, Arial, Helvetica;
	font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
	background-color: var(--color-background);
    letter-spacing: -.15px;
	margin: 0;
	max-width: 1170px;
	margin: 0 auto;
}

/***********************/
/* STYLING VOOR HEADER */
/***********************/

header{
	box-shadow: 0 .0625rem .5rem 0 rgba(0, 0, 0, .04), 0 .0625rem .3125rem 0 rgba(0, 0, 0, .04);
}

header nav{
	display: flex;
}

header a img{
	width: 48px;
	height: 48px;
}

#nav-menu span{
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#nav-menu span:nth-of-type(3){
	margin-bottom: 200px;
}

nav summary {
	font-weight: bold;
	cursor: pointer;
	list-style: none;
}

nav details[open] summary::after {
	content: "-";
	float: right;
}

nav summary::after {
	content: "+";
	float: right;
}


/* Hamburgermenu styling met media query */
#nav-menu {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background: var(--color-background);
	z-index: 1000;
	padding: 0 1em 1em 1em;
}
  
#hamburger, #close-menu {
	font-size: 2em;
	color: var(--color-text);
	background: none;
	border: none;
	cursor: pointer;
  }
  
#close-menu {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
}
  
  /* Submenu */
.submenu {
	display: none;
	margin-left: 1em;
}
  
.submenu-toggle {
	background: none;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

header ul li{
	list-style-type: none;
	margin: 25px 0;
}

header ul li a{
	text-decoration: none;
	color: var(--color-text);
}

header ul li summary{
	font-weight: normal;
}

header nav div ul li details ul li:nth-of-type(1){
	min-width: 2in;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text);
    text-decoration: none;
    position: relative;
    border: 1px solid #adadad;
    box-shadow: 0 1.5px 1.5px 0 rgba(0, 0, 0, .08);
    border-radius: .1875rem;
    padding: 13px 25px;
    text-align: center;
    display: inline-block;
}

header nav div ul li details ul li img{
	width: 60px;
	height: 60px;
	margin-right: 15px;
}

header nav div ul li details ul li:nth-child(n+2){
	display: flex;
  	align-items: center;
	margin: 0;
}

@media (max-width: 870px) {
	#hamburger {
	  display: block;
	}
  
	#nav-menu.active {
	  display: flex;
	}
  
	#close-menu.active {
	  display: block;
	}
}

@media (min-width: 870px){
	#hamburger, #close-menu {
	  display: none;
	}
  
	#nav-menu {
	display: grid;
	grid-template-columns: auto auto;
	position: static;
}

	#nav-menu ul:nth-of-type(1),
	#nav-menu ul:nth-of-type(2) {
	grid-column: 1;
	}
	
	#nav-menu ul:nth-of-type(3) {
	grid-column: 2;
	grid-row: 1 / span 2; 
	}
  
	#nav-menu ul {
	  display: flex;
	  gap: 1em;
	}
  
	.submenu {
	  display: none;
	  position: absolute;
	  background: var(--color-background);
	  padding: 0.5em;
	}
  
	.submenu-toggle:hover + .submenu {
	  display: block;
	}

	header ul li{
		list-style-type: none;
		margin: 0;
	}
	
	header ul li summary{
		font-weight: normal;
	}
	
	header nav div ul li details ul li:nth-of-type(1){
		padding: 0;
	}

	#nav-menu span:nth-of-type(3){
		margin-bottom: 0;
	}

	#nav-menu span{
		display: none;
	}

	nav a img{
		width: 108px;
		height: 108px;
	}

	nav summary::after {
		content: "↓";
		margin-left: 1em;
	}

	nav details[open] summary::after {
		content: "↑";
	}

	nav details ul{
		display: flex;
		flex-direction: column;
		margin-top: 3em;
	}

	header nav div ul li details ul li:nth-of-type(1){
		padding: 13px 25px;
	}

	.blue{
		color: #006bae;
		text-decoration: underline;
	}
}

/***************************/
/* STYLING VOOR HOMEPAGINA */
/***************************/

main{
	margin-top: 48px;
}

.home h1{
	clip: rect(0 0 0 0);
  	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.home ul{
	list-style-type: none;
	width: 100%;
	overflow-x: auto;
	padding: 0;
	display: flex;
	gap: 1em;
	scroll-behavior: smooth;
	anchor-name: --carousel;
	scroll-snap-type: x mandatory;
	scroll-marker-group: after;
}

.home ul li::scroll-marker{
	content: '';
	height: 0.5em;
	width: 0.5em;
	background-color: var(--color-text);
	opacity: 0.5;
	border-radius: 50%;
}

.home ul li::scroll-marker:target-current{
	opacity: 1;
}

.home ul::scroll-marker-group{
	display: flex;
	justify-content: center;
	gap: 0.5em;
}

.home ul::-webkit-scrollbar{
	display: none;
}

.home ul::scroll-button(right), .home ul::scroll-button(left){
	content: '>';
	border: none;
	background-color: var(--color-mcdonalds);
	font-size: 1.5rem;
	color: var(--color-background);
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border-color: black;
	cursor: pointer;
	position: fixed;
	position-anchor: --carousel;
	position-area: bottom center;
	translate: 200%;
	transform: translateY(5px);
}

.home ul::scroll-button(left){
	content: '<';
	position-area: bottom center;
	translate: -200%;
}

.home ul::scroll-button(right):disabled, .home ul::scroll-button(left):disabled{
	opacity: 50%;
	cursor: auto;
}

.home ul li{
	width: 100%;
	flex: 0 0 27.1em;
	padding: 1em;
	scroll-snap-align: center;
	border: .0625rem solid var(--color-border);
    border-radius: 0 0 .25rem .25rem;
}

.home ul li img{
	object-fit: cover;
    height: auto;
    width: 100%;
    position: relative;
    background-size: auto auto;
}

.home ul li a{
	min-height: 3rem;
    min-width: 9rem;
    line-height: 1.25rem;
    background-color: var(--color-mcdonalds);
    border-radius: 4px;
    padding: .8125rem 1.5625rem;
    display: inline-block;
    align-items: center;
    border: 0;
    color: var(--color-text);
    text-decoration: none;
    text-align: center;
}

.home ul li a, .home ul li p, .home ul li h2{
	margin: 15px 25px;
}

.home section{
	margin-top: 100px;
	padding: 0 12px;
}

.home section a{
	min-height: 3rem;
    min-width: 9rem;
    line-height: 1.25rem;
    background-color: var(--color-mcdonalds);
    border-radius: 4px;
    padding: .8125rem 1.5625rem;
    display: inline-block;
    align-items: center;
    border: 0;
    color: var(--color-text);
    text-decoration: none;
    text-align: center;
}

.home section img{
	width: 100%;
}

.home section h2, .home section p, .home section a{
	margin: 13px;
}

@media (max-width: 870px){
	.home ul li{
		flex: 0 0 100%;
	}
}

@media (min-width: 870px) {
.home {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	gap: 2rem;
}

.home > ul {
	grid-column: 1 / span 2;
}

.home > section:nth-of-type(1) {
	grid-column: 1;
	grid-row: 2;
}

.home > section:nth-of-type(2) {
	grid-column: 2;
	grid-row: 2;
}

.home ul li::scroll-marker{
	opacity: 0;
	height: 0;
	width: 0;
}

.home ul li::scroll-marker:target-current{
	opacity: 0;
}

}
  

/*********************/
/* STYLING VOOR COLA */
/*********************/

.cola h1{
	text-align: center;
	font-size: 36px;
    line-height: 40px;
    letter-spacing: -.14px;
    overflow-wrap: break-word;
	margin: 0;
}

.cola section:first-of-type div > p:first-of-type {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

.cola section:first-of-type div > p:nth-of-type(2) {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.cola section:first-of-type div > p:nth-of-type(3) {
	font-size: 14px;
	line-height: 1.6;
	margin: 1em;
	text-align: center;
}

.cola section:first-of-type ul li p {
	font-size: 12px;
	text-align: center;
}

.cola section:first-of-type ul li button{
	box-shadow: 0 .125rem .125rem 0 rgba(0, 0, 0, .16);
    border: 1px solid var(--color-border2);
    border-radius: 100%;
    text-align: center;
    display: flex;
    width: 44px;
    height: 44px;
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
	background-color: var(--color-background);
	cursor: pointer;
	color: var(--color-text);
}

.cola section:first-of-type ul li{
	margin: 0 0.75em;
}

.cola section:first-of-type ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.cola section:first-of-type img {
	width: 100%;
}

.cola h2{
	font-size: 28px;
	text-align: center;
	margin-top: 3em;
}

.cola details{
    border-top: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border); 
	padding: 1em 0;
}

.cola details:first-of-type{
	border-bottom: 0px;
}

.cola summary {
	font-weight: bold;
	position: relative;
	margin: 8px 25px;
	font-size: 18px;
	cursor: pointer;
	anchor-name: --summary;

	&::marker {
		content: "";
	}

	&::before, &::after {
		content: "";
		border-block-start: 2px solid var(--color-text);
		height: 0;
		width: 1.1rem;
		
		/* Positions the lines */
		inset-block-start: 50%;
		inset-inline-end: 0;
		
		/* Anchor the shape to the summary */
		position: absolute;
		position-anchor: --summary;
		position-area: top end;
	}

	/* Rotate just the ::after line to create a "+"" shape */
	&::after {
		transform: rotate(90deg);
		transform-origin: 50%;
	}
}

.cola details[open] summary::after {
	transform: rotate(0deg);
}

.cola details:first-of-type ul{
	list-style-type: none;
	padding: 0;
}

.cola details:first-of-type p:first-of-type{
	font-size: 28px;
    line-height: 1.2;
    font-weight: lighter;
}

.cola details:first-of-type p:last-of-type{
	font-size: 12px;
}

.cola details:first-of-type p{
	margin: 0;
	text-align: center;
}

.cola details:first-of-type ul{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto;
	gap: 1rem;     
	margin: 2em 0;
}

.cola details:first-of-type ul li:nth-child(1){
	grid-column: 1;
	grid-row: 1;
}

.cola details:first-of-type ul li:nth-child(2){
	grid-column: 2;
	grid-row: 1;
}

.cola details:first-of-type ul li:nth-child(3){
	grid-column: 1 / span 2;;
	grid-row: 2;
}

table {
	max-width: 500px;
	border-collapse: collapse;
	width: 100%;
	margin: 10px auto;
}

table caption {
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
}

table th, 
table td {
	border-bottom: 1px solid var(--color-border);
	padding: 10px;
	text-align: left;
	font-size: 14px;
}

table th {
	background-color: var(--color-border);
	font-weight: 600;
}

table td:last-child,
table th:last-child {
	text-align: right;
}

table tr:last-child td {
	border-bottom: none;
	font-weight: bold;
}

.cola details:last-of-type ul{
	list-style-type: none;
	padding-left: 25px;
	margin-top: 2em;
}

.cola section:last-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cola section:last-of-type p{
	text-align: center;
}

.cola details:last-of-type{
	margin-bottom: 4em;
}

.cola section:last-of-type a{
	text-decoration: none;
	color: var(--color-text);
	border: 1px solid var(--color-border2);
	padding: 12px 30px;
	border-radius: 4px;
	box-shadow: 0 1.5px 1.5px 0 rgba(0, 0, 0, .08);
	margin-bottom: 10em;
}

.cola article p{
	margin: 2em 1em;
	letter-spacing: -.15px;
}

@media (min-width: 870px){
	.cola section:first-of-type{
		display: flex;
		flex-direction: row-reverse;
	}

	.cola h1{
		margin-top: 2em;
		text-align: left;
	}

	.cola section:first-of-type div > p:first-of-type {
		text-align: left;
		font-size: 20px;
		margin-bottom: 20px;
	}
	
	.cola section:first-of-type div > p:nth-of-type(2) {
		text-align: left;
		font-weight: bold;
		font-size: 15px;
	}
	
	.cola section:first-of-type div > p:nth-of-type(3) {
		font-size: 14px;
		line-height: 1.6;
		margin: 1em 0;
		text-align: left;
	}

	.cola section:first-of-type ul{
		justify-content: left;
	}

	.home ul::scroll-button(right), .home ul::scroll-button(left){
		height: 45px;
		width: 45px;
		position-area: bottom center;
		translate: 100%;
		transform: translateY(5px);
	}
	
	.home ul::scroll-button(left){
		position-area: bottom center;
		translate: -100%;
	}

	.cola details:first-of-type ul {
		display: flex;
		justify-content: center;
	}

	.cola details:first-of-type ul li{
		margin: 0 2em;
	}
}

/***********************/
/* STYLING VOOR FOOTER */
/***********************/

footer{
	margin-top: 8em;
}

/* styling voor <details> en <summary> van csstricks.com*/
footer summary {
position: relative;
anchor-name: --summary;

&::marker {
	content: "";
}

&::before, &::after {
	content: "";
	border-block-start: 2px solid var(--color-text);
	height: 0;
	width: 1.1rem;
	
	/* Positions the lines */
	inset-block-start: 50%;
	inset-inline-end: 0;
	
	/* Anchor the shape to the summary */
	position: absolute;
	position-anchor: --summary;
	position-area: top end;
}

/* Rotate just the ::after line to create a "+"" shape */
&::after {
	transform: rotate(90deg);
	transform-origin: 50%;
}
}

/* Rotate the line when open */
footer details[open] summary::after {
	transform: rotate(0deg);
}

footer summary{
	margin: 8px 25px;
	font-size: 18px;
	cursor: pointer;
}

footer section{
	display: flex;
	justify-content: center;
	padding: 1em 0 6em 0;
	border-bottom: 1px solid var(--color-border);
}

footer section:nth-of-type(2){
	padding: 1em 0 0 0;
}

footer img{
	margin: 0 8px;
}

footer ul{
	padding: 0;
	margin: 0 0 0 25px;
}

footer ul li{
	list-style-type: none;
	margin: 8.5px 0;
}

footer ul li a{
	text-decoration: none;
	color: var(--color-text);
}

footer section:nth-of-type(2) ul{
	margin: 0;
}

footer section:nth-of-type(2) ul li{
	display: flex;
	align-items: center;
}

footer section:nth-of-type(2) ul li a{
	text-align: center;
	margin: 0 auto;
}

footer section ul li img{
	width: 28px;
	height: 28px;
}
